/* Styles */

#main-content p {margin-bottom:1em !important; }

.page-content .grid-container-3-1 img { max-height:55px !important; float: none !important; }

.page-content .grid-container-3-1 { grid-template-columns: 1fr 40% !important; }

.page-content a {background-image: none !important;}

.home-donation {line-height:1.4; padding:0.5em 1em !important; background-color:white !important; color:#000 !important; border: 1px solid #ccc; border-radius: 0.5em; display: flex;}
.home-donation svg {height:40px; color:#cc0000;}

/* RaiseNow Form */

.donate h2 { margin:2rem 0 3rem 0 !important; font-size:2.5rem !important; }
.donate .note { font-size:90%; background:#fff; line-height:1.4; border:1px solid #999; margin:3rem 0 0 !important; padding:1rem !important;}

#lema-container.lema-container .lema-content.lema-accordion .lema-step-content {
    padding: 30px 0 30px 0 !important;
}

#lema-container.lema-container .select2-container.select2-container .select2-choice {font-size:16px !important;}
#lema-container.lema-container .lema-amount-box-amount {font-size:2em !important}
#lema-container.lema-container .lema-amount-box {width:70px !important;height:70px !important; margin-right:1.5rem !important;}
#lema-container.lema-container .lema-amount-box-custom-input {width:56px !important; left:5px !important;font-size:16px !important;}
#lema-container.lema-container .lema-amount-box-custom .lema-input-text {height:36px !important; }
#lema-container.lema-container .lema-radio-label.lema-radio-label-interval {margin-right:0 !important}

.navigation-element.navigation-element--add, .toilet__url-failure {
    display: none;
}

.toilet__access {
	display: none;
}

.toilet__url-osm {
    color: #36c;
    text-decoration: underline;
}

.white-box {
    padding: 0.5em 1em !important;
    background-color: white !important;
    color: black !important;
    border: 1px solid #ccc; 
    border-radius: 0.5em;
}

.toilet__operator {
    font-weight: bold;
    font-size: 1.2em;
}

div#manual {
    padding-top: 1em !important;
}

div#manual span {
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 1.2;
    margin-right: 0.2em;
}

.cookiebanner__controls {
  margin-left: 2em !important;
}

.cookiebanner__privacy {
  text-decoration: underline !important;
  color: #ffeca0 !important;
}

table#cookies {
    font-size:0.875em;
    margin:2em 0;
}

table#cookies td {
  font-size: 0.875em;
  border: 1px solid #999;
  padding: 5px; 
}

.shadowbox {
    width: 96% !important;
    max-width: 1000px !important;
}

@media only screen and (min-width: 1024px) {
    .shadowbox {
        padding:4rem !important;
    }
}

.shadowbox__title {
    margin-bottom: 1em !important;
}

.o-button {
    background-color: #3d8d3e !important;
}

.reject-cookies-button {
  cursor: pointer;
  background-color: #7c2f2f;
  color: #fff;
  padding: .6em 1.6em;
  border-radius: .4rem;
  text-transform: uppercase;
  position: relative;
}

#wc-guide-error {
    position: absolute;
    top:40%;
    left:600px;
    font-size:1.5em;
    background-color: rgba(0,0,0,0.5);
    border-radius: 8px;
    padding:1em;
    width:400px;
    color: white;
}

#wc-guide-error p {
    font-size:2em;
    color:white;
}